<div class="login-box">
    <h2>Add Item</h2>
    <form method="post" action="/submitItem" class="addForms">
      <div class="user-box">
        <input type="text" id="type" name="type">
        <label for="type">Type:</label>
      </div>
      <div class="user-box">
        <input type="text" id="name" name="name">
        <label for="name">Name:</label>
      </div>
      <div class="user-box">
        <input type="text" id="description" name="description">
        <label for="description">Description:</label>
      </div>
  
      <div class="user-box">
  
        <input type="number" id="price" name="price">
        <label for="price">Price:</label>
      </div>
      <div class="user-box">
        <input type="text" id="seller" name="seller">
        <label for="seller">Seller:</label>
      </div>
      <div class="user-box">
        <input type="text" id="image" name="image">
        <label for="image">Image hyperlink:</label>
      </div>
      <div class="user-box">
  
        <input type="text" id="size" name="size">
        <label for="size">Size:</label>
      </div>
      <div class="user-box">
  
        <input type="text" id="colour" name="colour">
        <label for="colour">Colour:</label>
      </div>
      
      <a>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <button type="submit">Submit</button>
        
      </a>
    </form>
  </div>